.section
  = f.simple_fields_for :deceased do |d|
    .row
      .col.s12
        =d.input :corpse_kind, label_html: {class: 'active'}
    .row
      .col.s6
        = d.input :cemetery
      .col.s6
        = d.input :oven      
    .row
      .col.s6
        = d.input :reserv_of
      .col.s6
        = d.input :burial_date, label: false, as: :date_picker          
    .row
      .col.s6
        = d.input :coffin_kind
      .col.s6
        = d.input :coffin_prepare_by 
    .row
      .col.s6
        = d.input :coffin_issued_by
          
    
      
    
     