.section
  = f.simple_fields_for :deceased do |d|
    .row
      .col.s4
        = d.input :funeral_place,  label: false do
          %i.material-icons.left.prefix location_on
          = d.label :funeral_place
          = d.input_field :funeral_place    
      .col.s4
        = d.input :departure_day, label: false, as: :date_picker
      .col.s4
        = d.input :departure_time, label: false, as: :time_picker
    .row
      .col.s4
        = d.input :rosary,  label: false do
          %i.material-icons.left.prefix location_on
          = d.label :rosary
          = d.input_field :rosary        
      .col.s4
        = d.input :rosary_day, label: false, as: :date_picker  
      .col.s4
        = d.input :rosary_time, label: false, as: :time_picker    
  = f.simple_fields_for :cemetery do |c|
    .row
      .col.s12
        = c.input :name
  = f.simple_fields_for :deceased do |d|           
    .row
      .col.s3
        = d.input :exposure_day, label: false, as: :date_picker
      .col.s3
        = d.input :morgue_work_from, label: false, as: :time_picker
          