.section
  = f.simple_fields_for :crematorium do |c| 
    .row    
      .col.s5
        =c.input :A    
      .col.s4
        =c.input :Tel 
      .col.s3
        =c.input :Data, label: false, as: :date_picker    
    .row
      .col.s6
        =c.input :name
      .col.s6
        =c.input :city          
    = f.simple_fields_for :deceased do |d|
      .row
        .col.s6
          =d.input :arrive_day, label: false, as: :date_picker
        .col.s6
          =d.input :arrive_time, label: false, as: :time_picker
      .row
        .col.s9
          =d.input :crematorium_kind, label_html: {class: 'active'}
        .col.s3
          =d.input :vase_issued_by, label_html: {class: 'active'}
      .row
        .col.s6
          =d.input :applicant, label_html: {class: 'active'}
        .col.s6
          =d.input :fax_mail, label_html: {class: 'active'}
.divider
.section    
  = f.simple_fields_for :deceased do |d|
    .row.blue-grey-text.text-darken-2
      %h5
        = t('forms.declaration')
    .row
      .col.s6
        =d.input :lastname_declar
      .col.s6
        =d.input :fistname_declar
    .row
      .col.s6
        =d.input :born_place_declar
      .col.s6
        =d.input :birthday_declar, label: false, as: :date_picker
    .row
      .col.s6
        =d.input :registered_in_declar
      .col.s6
        =d.input :registered_in_address_declar
        
        
