=f.simple_fields_for :epigraph do |e|
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        =t('forms.epigraph')
    .row
      .col.s12
        =e.input :model, label_html: {class: 'active'} do
          =e.select :model, Epigraph.models.keys.map{ |m| [m, m, {:data => {icon: m!=:empty ? image_url("#{m}.png") : ''}, class: 'left circle' }]}, include_blank: false
    .row
      .col.s12
        =e.input :title
    .row
      .col.s12
        =e.input :city_title	
    .row
      .col.s12
        =e.input :dedicated_to
    .row
      .col.s12
        =e.input :relatives, as: :text, input_html: { class: 'materialize-textarea', style: 'background-color: rgba(240, 244, 195, .2)' }
    .row
      .col.s6
        = e.input :date_vigil, label: false, as: :date_picker
      -#.col.s6
        =e.input :time_vigil, label: false, as: :time_picker