=f.simple_fields_for :deceased do |d|
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left local_florist
        ='Modulo fiori'
        = link_to_add_association f, :flowers, class: 'btn-floating z-depth-0 add-flower blue-grey darken-1 tooltipped', data: { tooltip: 'Add new flower position to current order' } do
          %i.material-icons.white-text.right add
    .row
      .col.s6
        =d.input :flowerday, label: false, as: :date_picker
      .col.s6
        =d.input :flowertime, label: false, as: :time_picker
    #flowers.row
      = f.simple_fields_for :flowers do |flower|
        =render 'flower_fields', f: flower
    .row
      .col.s12
        =f.input :flower_note, as: :text, input_html: {class: 'materialize-textarea', style: 'background-color: rgba(240, 244, 195, .2)'}
  .divider