.section
  = f.simple_fields_for :deceased do |p|
    .row
      .col.s4
        = p.input :commis_num
      .col.s4
        = p.input :office
      .col.s4
        = p.input :data, label: false, as: :date_picker
    .row
      = p.input :firstname, wrapper_html: { class: 'col s6' }, label: false do
        %i.material-icons.left.prefix account_circle
        = p.label :firstname
        = p.input_field :firstname
      = p.input :lastname,  wrapper_html: { class: 'col s6' }, label: false do
        %i.material-icons.left.prefix account_circle
        = p.label :lastname
        = p.input_field :lastname
    .row
      .col.s6
        = p.input :born_place,  label: false do
          %i.material-icons.left.prefix location_on 
          = p.label :born_place
          = p.input_field :born_place       
      .col.s6
        = p.input :birthday, label: false, as: :date_picker      
    -#.row
      .col.s6 
        =p.input :born_place
      .col.s6
        =p.input :death_place
    -#.row
      .col.s6
        =p.input :profession
      .col.s6
        =p.input :marital_status, label_html: {class: 'active'}
    .row
      .col.s4
        =p.input :registered_in
      .col.s8
        =p.input :registered_in_address  
    -#.row
      .col.s12
        =p.input :registered_in_address    
  = f.simple_fields_for :document do |d|
    .row
      .col.s4
        =d.input :code_fiscale
      .col.s4
        =d.input :document_type
      .col.s4
        =d.input :issued_by_municipality  
    .row
      .col.s4
        =d.input :document_number
      -#.col.s4
        =d.input :document_issued_by
      .col.s4
        =d.input :document_when_issued, as: :date_picker, label: false             
  = f.simple_fields_for :deceased do |p|     
    -#.row.valign-wrapper
      .col.s6.valign
        = p.input :funeral_place,  label: false do
          %i.material-icons.left.prefix location_on
          = p.label :funeral_place
          = p.input_field :funeral_place
        %br
        .row
          .col.s6
            = p.input :departure_day, label: false, as: :date_picker
          .col.s6
            = p.input :departure_time, label: false, as: :time_picker
    .row.valign-wrapper
      .col.s6.valign
        = p.input :death_place,  label: false do
          %i.material-icons.left.prefix location_on
          = p.label :death_place
          = p.input_field :death_place
        %br
        .row
          .col.s6
            = p.input :deathday, label: false, as: :date_picker
          .col.s6
            = p.input :deathtime, label: false, as: :time_picker        
      .col.s6.center-align
        = image_tag @order.deceased.photo.url(:thumb), class: 'responsive-img'
        .file-field.input-field
          .btn
            %span
              %i.material-icons add_a_photo
            =p.input_field :photo, class: 'file', as: :file
          .file-path-wrapper
            %input.file-path
    .row
      .col.s6
        =p.input :profession
      .col.s6
        =p.input :marital_status, label_html: {class: 'active'}        
    -#.row
      .col.s3
        = p.input :exposure_day, label: false, as: :date_picker
      .col.s3
        = p.input :morgue_work_from, label: false, as: :time_picker
      .col.s3
        = p.input :morgue_work_to, label: false, as: :time_picker
    .row
      .col.s12
        =p.input :note, as: :text, input_html: {class: 'materialize-textarea', style: 'background-color: rgba(240, 244, 195, .2)'}
    .row
      .col.s12
        =p.input :death_case
    -#.row
      .col.s12
        =p.input :registered_in
    -#.row
      .col.s12
        =p.input :registered_in_address
  -#= f.simple_fields_for :document do |d|
    -#.row
      .col.s12
        =d.input :document_type
    -#.row
      .col.s4
        =d.input :document_number
      .col.s4
        =d.input :document_issued_by
      .col.s4
        =d.input :document_when_issued, as: :date_picker, label: false