=f.simple_fields_for :deceased do |d|
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left build
        = t('forms.instruments')
    .row
      .col.s6
        =d.input :instruments_1, wrapper: :vertical_boolean, label: false do
          =d.input_field :instruments_1
          =d.label :instruments_1
      .col.s6
        =d.input :instruments_2, wrapper: :vertical_boolean, label: false do
          =d.input_field :instruments_2
          =d.label :instruments_2
    .row
      .col.s6
        =d.input :instruments_3, wrapper: :vertical_boolean, label: false do
          =d.input_field :instruments_3
          =d.label :instruments_3
      .col.s6
        =d.input :instruments_4, wrapper: :vertical_boolean, label: false do
          =d.input_field :instruments_4
          =d.label :instruments_4
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left group
        =t('forms.family')
    .row
      .col.s6
        =d.input :information_1, wrapper: :vertical_boolean, label: false do
          =d.input_field :information_1
          =d.label :information_1
      .col.s6
        =d.input :information_2, wrapper: :vertical_boolean, label: false do
          =d.input_field :information_2
          =d.label :information_2
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left settings
        =t('forms.operations')
    .row
      .col.s6
        =f.input :operation_1, wrapper: :vertical_boolean, label: false, input_html: { type: 'checkbox'} do
          =f.input_field :operation_1
          =f.label :operation_1
      .col.s6
        =f.input :operation_2, wrapper: :vertical_boolean, label: false do
          =f.input_field :operation_2
          =f.label :operation_2
    .row
      .col.s12
        =f.input :operation_3, wrapper: :vertical_boolean, label: false, input_html: { type: 'checkbox'} do
          =f.input_field :operation_3
          =f.label :operation_3
    .row      
      .col.s6
        =f.input :operation_4, wrapper: :vertical_boolean, label: false do
          =f.input_field :operation_4
          =f.label :operation_4  
      .col.s6
        =f.input :operation_5, wrapper: :vertical_boolean, label: false, input_html: { type: 'checkbox'} do
          =f.input_field :operation_5
          =f.label :operation_5         
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left label
        =t('forms.practices')
    .row
      .col.s6
        =f.input :operation_6, wrapper: :vertical_boolean, label: false, input_html: { type: 'checkbox'} do
          =f.input_field :operation_6
          =f.label :operation_6
      .col.s6
        =f.input :operation_7, wrapper: :vertical_boolean, label: false do
          =f.input_field :operation_7
          =f.label :operation_7         
    .row
      .col.s12
        = f.input :service_note 
  .divider            
  -#.section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left local_florist
        ='Modulo fiori'
        = link_to_add_association f, :flowers, class: 'btn-floating z-depth-0 add-flower blue-grey darken-1 tooltipped', data: { tooltip: 'Add new flower position to current order' } do
          %i.material-icons.white-text.right add
    .row
      .col.s6
        =d.input :flowerday, label: false, as: :date_picker
      .col.s6
        =d.input :flowertime, label: false, as: :time_picker
    #flowers.row
      = f.simple_fields_for :flowers do |flower|
        =render 'flower_fields', f: flower
    .row
      .col.s12
        =f.input :flower_note, as: :text, input_html: {class: 'materialize-textarea', style: 'background-color: rgba(240, 244, 195, .2)'}
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left assistant
        ='Assistants'
        = link_to_add_association f, :assistants, class: 'btn-floating z-depth-0 add-assistant blue-grey darken-1 tooltipped', data: { tooltip: 'Add new assistant to this order' } do
          %i.material-icons.white-text.right add
    #assistants
      = f.simple_fields_for :assistants do |a|
        =render 'assistant_fields', f: a
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left directions_car
        ='Auto funebri'
        = link_to_add_association f, :cars, class: 'btn-floating z-depth-0 add-car blue-grey darken-1 tooltipped', data: { tooltip: 'Add new car to this order' } do
          %i.material-icons.white-text.right add
    #cars
      =f.simple_fields_for :cars do |c|
        =render 'car_fields', f: c