= f.simple_fields_for :deceased do |d|
  .section
    .row
      .col.s12
        =d.input :invoice_company
    .row
      .col.s5
        =d.input :invoice_place
      .col.s5
        =d.input :invoice_street
      .col.s2
        =d.input :invoice_house
    .row
      .col.s12
        =f.input :fiscal_code, input_html: { length: '16' }, as: :string