= f.simple_fields_for :relative do |p|
  .section
    .row      
      .col.s6
        = p.input :firstname, label: false do
          %i.material-icons.left.prefix account_circle
          =p.label :firstname
          =p.input_field :firstname, class: 'validate'
      .col.s6
        = p.input :relationship, input_html: { class: 'validate' } 
    .row     
      .col.s6
        = p.input :lastname, label: false do
          %i.material-icons.left.prefix account_circle
          =p.label :lastname
          =p.input_field :lastname, class: 'validate'
      .col.s6
        =p.input :resident, label: false do         
          = p.label :resident
          = p.input_field :resident  
    .row          
      .col.s6
        =p.input :mail, label: false do
          %i.material-icons.left.prefix email
          = p.label :mail
          = p.input_field :mail, as: :email    
      .col.s6
        =p.input :via, label: false do         
          = p.label :via
          = p.input_field :via 
    .row                         
      .col.s6
        =p.input :phone, label: false do
          %i.material-icons.left.prefix phone
          = p.label :phone
          = p.input_field :phone, as: :tel
      .col.s6
        =p.input :mobile, label: false do
          %i.material-icons.left.prefix smartphone
          = p.label :mobile
          = p.input_field :mobile, as: :tel   
    .row                         
      .col.s6
        =p.input :fiscal_code, label: false do         
          = p.label :fiscal_code
          = p.input_field :fiscal_code         
      
      
