.card
  .card-content
    %strong.card-title= "#{c.fn} #{c.ln}"
    .divider
    %table
      %tbody
        %tr
          %td=t('labels.complited_orders')
          %td
            %p
              -c.orders.each_with_index do |o, i|
                %strong="#{o.deceased.name}"
                %small="(#{o.deceased.death_day_year})"
                -if i+1 < c.orders.size
                  %span=', '
                -elsif i+1 == c.orders.size
                  %span='.'
        %tr
          %td=Relative.human_attribute_name(:phone)
          %td=c.phone
        %tr
          %td=Relative.human_attribute_name(:mobile)
          %td=c.mobile
        %tr
          %td=t('labels.updated_at')
          %td=c.updated_at.strftime(('%H:%M %d %b, %Y'))
