= simple_form_for @order, :html => {:multipart => true}, label: false do |f|
  = f.error_notification
  .row
    .col.s12
      %ul.tabs
        %li.tab.col.s0
          =link_to '#general-tab' do
            = t('forms.general')
        %li.tab.col.s0
          =link_to '#relative-tab' do
            = t('forms.relative')
        %li.tab.col.s0
          =link_to '#ceremony-tab' do
            = t('forms.ceremony')         
        %li.tab.col.s0
          =link_to '#burial-tab' do
            = t('forms.burial') 
        %li.tab.col.s0
          =link_to '#crematorium-tab' do
            = t('forms.crematorium')    
        %li.tab.col.s0
          =link_to '#instruments-tab' do
            = t('forms.service')
        %li.tab.col.s0
          =link_to '#flowers-tab' do
            = t('forms.flowers') 
        %li.tab.col.s0
          =link_to '#invoice-tab' do
            = t('forms.invoice')
        %li.tab.col.s0
          =link_to '#epigraph-tab' do
            = t('forms.epigraph')
    #general-tab.col.s12
      =render 'orders/forms/general', f: f
    #crematorium-tab.col.s12
      =render 'orders/forms/crematorium', f: f
    #ceremony-tab.col.s12
      =render 'orders/forms/ceremony', f: f
    #burial-tab.col.s12
      =render 'orders/forms/burial', f: f  
    #relative-tab.col.s12
      =render 'orders/forms/relatives', f: f  
    #instruments-tab.col.s12
      =render 'orders/forms/instruments_flowers', f: f
    #flowers-tab.col.s12
      =render 'orders/forms/flowers', f: f  
    #invoice-tab.col.s12
      =render 'orders/forms/invoice', f: f
    #epigraph-tab.col.s12
      =render 'orders/forms/epigraph', f: f
  .divider
  .section
    .row.center-align
      =f.submit class: 'btn btn-large' do
        %i.material-icons.left save 