%ul.collection
  -for o in orders do
    %li.collection-item.avatar
      =image_tag o.deceased.photo(:thumb), class: 'circle', alt: "#{o.deceased.name} photo"
      %span.title="#{o.id}. o.deceased.name"
      %p
        %strong Funeral:
        = "#{o.deceased.funeral_time} #{o.deceased.funeral_day}"
        %br
        %strong cimitero:
        = "#{o.deceased.cemetery_name}"
        %br
        %strong Parente:
        = "#{o.relative.name}, #{o.relative.phone}"
      =link_to order_path(o), class: 'secondary-content btn-large btn-floating transparent z-depth-0' do
        %i.material-icons.blue-grey-text forward
#pagination.center
  =will_paginate orders