.row
  -orders.each_with_index do |o, i|
    .col.s12.m6
      .card.small
        .card-content
          .card-title
            ="#{o.id}. #{o.deceased.name}" 
            -if o.status == 'active'
              %i.material-icons.teal-text.text-accent-4.tooltipped{data: {tooltip: 'Active'}} done
            -if o.status == 'archived'
              %i.material-icons.blue-grey-text.tooltipped{data: {tooltip: 'Archived'}} archive
            = link_to order_path(o), class: 'right btn-floating waves-effect waves-teal' do
              %i.material-icons open_in_new
          .divider
          .section.row.valign-wrapper
            .col.m4.valign
              = image_tag o.deceased.photo.url(:thumb), class: 'responsive-img center'
            .col.m8.valign
              %p
                = "Funerale: "
                %strong.card-date
                  = " #{o.deceased.funeral_day}"
                = " at "
                %strong.card-place
                  = "#{o.deceased.funeral_place}"
              %p
                = 'Cimitero: '
                %strong.card-cemetey
                  = "#{o.cemetery.name}"
              %p
                = 'Parenti: '
                %strong.card-relative
                  = "#{o.relative.name}"
              %p
                = 'Tel: '
                %strong.card-phone
                  = "#{o.relative.mobile}"
          .divider
          .row
            .col.s12
              %blockquote
                = "Modificato alle "
                %span.card-date
                  ="#{o.edited_at}"
#pagination.center
  =will_paginate orders