.page-header.row.valign-wrapper
  .col.s4
    %h4= "#{params[:archived] ? 'Archived orders' : t('labels.active_orders') }"
  .col.s8.valign
    .col.s12
      =form_tag orders_path, method: :get, id: 'orders_sort', remote: true, class: 'right' do
        %span=t('labels.view_as')
        =select_tag :view, options_for_select([ [t('labels.card'), { class: 'left', 'data-icon': image_url('icons/card.svg') }], [t('labels.table'), { class: 'left', 'data-icon': image_url('icons/grid.svg') }], [t('labels.list'), {  class: 'left', 'data-icon': image_path('icons/list.svg')}]], params[:view]), class: 'icons view'
        %span=t('labels.sorted_by')
        =select_tag :order, options_for_select([t('labels.name'), t('labels.relative'), t('labels.updated')], params[:order]), class: 'order'
        =hidden_field_tag :reverse, params[:reverse]
        =hidden_field_tag :archived, params[:archived]
        =button_tag id: 'order_direction', class: 'btn-floating waves-effect waves-teal', remote: true, type: :button do
          %i.material-icons

=hidden_field_tag :page, params[:page]
#order-panel
  =render "order_#{@view}", orders: @orders
