#order.row
  #info.card.col.m7
    .card-content
      .card-title
        %span= "#{@order.id}. #{@order.deceased.name} "
        %small= "#{@order.deceased.birthday_year} - #{@order.deceased.death_day_year}"
        -if @order.status == 'active'
          =link_to order_archivate_path(@order), method: :post, remote: true, class: 'right tooltipped', data: {tooltip: 'Archivate', confirm: 'Archive this order?'} do
            %i.material-icons.blue-grey-text archive
        -if @order.status == 'archived'
          =link_to order_activate_path(@order), method: :post, remote: true, class: 'right tooltipped', data: {tooltip: 'Unarchive', confirm: 'Activate this order?'} do
            %i.material-icons.teal-text.text-accent-4 unarchive
      .divider
      .section.row.valign-wrapper
        .col.m8.valign
          %p
            = 'Funerale: '
            %strong= "#{@order.deceased.funeral_place}, #{@order.deceased.funeral_time} #{@order.deceased.funeral_day}"
            %br
            - if @order.cemetery.present?
              = 'Cimitero: '
              %strong= "#{@order.cemetery.province}, #{@order.cemetery.city}, #{@order.cemetery.name}"
              %br
            -if @order.crematorium.present?
              = 'Crematorio: '
              %strong="#{@order.crematorium.city}, #{@order.crematorium.name}"
              %br
            -if @order.relative.present?
              = 'Parente: '
              %strong= "#{@order.relative.name}, "
              %strong="#{@order.relative.mobile}"
        .col.m4.valign
          = image_tag @order.deceased.photo.url(:medium), class: 'photo responsive-img materialboxed'
      .divider
      .section
        .row
          =render 'orders/show/note', order: @order
  .documents.col.m5
    %ul.popout.collapsible{ :data=> { :collapsible => 'expandable'} }
      %li.active
        .collapsible-header.blue-grey.active
          %i.material-icons.left folder_shared
          %strong= 'Documents'
        .collapsible-body
          .collection
            - Order.docs_kinds.keys.each_with_index do |d, i|
              =link_to "#{order_path(@order)}/#{d}", class: 'collection-item', target: '_blank' do
                %span.title
                  = t('labels.'"#{d}")
                %i.material-icons.right file_download