!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    :css
      body {
        padding-bottom: 5pt;
        text-align: center;
      }
      .footer {
        font-family: Cambria, Georgia, serif;
        font-size: 7pt;
        text-align: left;
        width: 480pt;
        max-width: 480pt;
        border-top: solid 1px black;
      }
      .footer td {
        vertical-align: top;
      }
  %body{:lang => 'it'}
    %table.footer
      %tbody
        %tr
          %td
            %p
              ='33070 BRUGNERA (PN)'
              %br
              ='Via Francenigo, 12'
              %br
              ='Tel. 0434 56015'
              %br
              ='Fax. 0434 765780'
              %br
              ='Cell. 333 1677911'
          %td
            %p
              ='33080 PRATA DI'
              %br
              ='PORDENONE (PN)'
              %br
              ='Via Roma, 101'
              %br
              ='Tel. 0434 56015'
              %br
              ='Cell. 333 1677911'
          %td
            %p
              ='31018 GAIARINE (TV)'
              %br
              ='Via Roma, 23'
              %br
              ='Tel. 0434 56015'
              %br
              ='Fax. 0434 765780'
          %td
            %p
              ='31040 MANSUÈ (TV)'
              %br
              ='Piazza Dall’Ongaro, 4'
              %br
              ='Tel. 0434 56015'
              %br
              ='Cell. 333 1677911'
              %br
              ='Cell. 392 0206674'
          %td
            %p
              ='SERVIZI ZAMPIERI'
              %br
              ='31045 MOTTA DI '
              %br
              ='LIVENZA (TV)'
              %br
              ='Via Del Girone, 10'
              %br
              ='Tel. 0422 861192'
              %br
              ='Cell. 333 1677911'
          %td
            %p
              ='FIORI FRÈ'
              %br
              ='31018 FRANCENIGO (TV)'
              %br
              ='Via Per Sacile, 100'
              %br
              ='Tel. 0434768997'