!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    =wicked_pdf_stylesheet_link_tag('documents')
    :css
      @page {
        size: A4;
        margin: 0;
      }
      body {
        font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
        font-size: 11pt;
        line-height: 1;
        padding-top: 91px;
      }
      .subtitle {
        color: red;
        text-decoration: underline;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
      }
      .col-6 {
        width: 45%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .insert {
        text-decoration: underline;
      }
      .note {
        text-align: justify;
      }
  %body
    .row
      .col-12
        %p.subtitle CHECK LIST : SERVE PER PREPARAZIONE BARA ED ESPOSIZIONE SALMA
    .row
      .col-12
        %p
          ="DEFUNTO: "
          %span.insert="#{@order.deceased.name}"
    .row
      .col-6
        %p
          = "DATA DI NASCITA: "
          %span.insert="#{@order.deceased.birthday}"
      .col-6
        %p
          = "DATA DI MORTE: "
          %span.insert="#{@order.deceased.deathday}"
    .row
      .col-6
        %p
          ="FUNERALE A: "
          %span.insert="#{@order.deceased.funeral_place}"
      .col-6
        %p
          = "IL: "
          %span.insert="#{@order.deceased.departure_day}"
    .row
      .col-12
        %p
          ="ALLE ORE: "
          %span.insert="#{@order.deceased.departure_time}"
    .row
      .col-12
        %p
          ="ESPOSTO ALLE CELLE DI: "
          %span.insert="#{@order.cemetery.name}"
    .row
      .col-12
        %p
          ="GIORNO DELL'ESPOSIZIONE: "
          %span.insert="#{@order.deceased.exposure_day}"
    .row
      .col-12
        %p
          ="ORARI OBITORIO: "
          %span.insert="#{@order.deceased.morgue_work_from}"
        -#=" - "
        -#%span.insert="#{@order.deceased.morgue_work_to}"
    -#.row
      .col-6
        %p
          = "ORARIO PARTENZA: "
          %span.insert="#{@order.deceased.departure_time}"
      .col-6
        %p
          = "IL: "          
          %span.insert="#{@order.deceased.departure_day}"
    .row
      .col-12
        %p.subtitle='NB: AVVISARE SEMPRE LA FAMIGLIA SUGLI ORARI E VISITE'
    .row
      .col-12
        %p
          ="FAMILIARE SIG: "
          %span.insert="#{@order.relative.name}"
    .row
      .col-6
        %p
          = "TELEFONO: "
          %span.insert="#{@order.relative.phone}"
      .col-6
        %p
          = "GRADO DI PARENTELA: "
          %span.insert="#{@order.relative.relationship}"
    .row
      .col-12
        %p
          ="CELLULARE: "
          %span.insert="#{@order.relative.mobile}"
    .row
      .col-12
        %p
          ="COFANO PREPARATO DA: "
          %span.insert="#{@order.deceased.coffin_prepare_by}"
    .row
      .col-12
        %p
          ="TANATOCOSMESI ESEGUITA DA:"
          %span.insert="#{@order.deceased.coffin_issued_by}"
    .row
      .col-12
        %p='COFANO PREPARATO PER: '
        %p="[#{@order.deceased.corpse_kind == 'camera' ? ' _X_ ' : ' ___ '}] LOCULO     [#{@order.deceased.corpse_kind == 'ground' ? ' _X_ ' : ' ___ '}] TERRA     [#{@order.deceased.corpse_kind == 'cremation' ? ' _X_ ' : ' ___ '}] CREMAZIONE"

    -#.row
      .col-12
        %p
          ="ADDETTO PREPARAZIONE BARA: "
          %span.insert="#{@order.deceased.coffin_prepare_by}"
    .row
      .col-12
        %p.note
          %span="NOTE: "
          %span.insert{style: 'text-decoration: none!important;'}="#{@order.deceased.note}"
    .row
      .col-12
        %p
          ="TIPO CASSA: "
          %span.insert="#{@order.deceased.coffin_kind}"