!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    :css
      @page {
        size: A4;
        margin: 0;
      }
      body {
        font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
        font-size: 11pt;
        line-height: 1;
      }
      .title {
        text-decoration: underline;
        font-weight: bold;
        font-size: 12pt;
        line-height: 1;
        text-align: center;
      }
      .subtitle {
        color: red;
        text-decoration: underline;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
      }
      .col-6 {
        margin-top: 0;
        margin-bottom: 0;
        width: 45%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-4 {
        margin-top: 0;
        margin-bottom: 0;
        width: 30%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-8 {
        margin-top: 0;
        margin-bottom: 0;
        width: 68%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .insert {
        font-weight: 700;
        font-size: 11pt;
        vertical-align: middle;
      }
      p {
        line-height: 1em;
      }
      p span, p strong, p i {
        vertical-align: middle;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        height: 24pt;
        max-height: 24pt;
      }
      td {
        border: 1pt solid black;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
      }
      p {
        margin-top: .8em;
        margin-bottom: .8em;
      }
  %body
    .row
      .col-6{style: 'text-align: justify;'}
        %p
          %span='RICHIEDE:'
          %span.insert="#{@order.deceased.applicant}"
        %p
          ='_________________________'
        %p
          %span='FAX/EMAIL:'
          %span.insert="#{@order.deceased.fax_mail}"
      .col-6
        %p
          %span='A: '         
          %span="#{@order.crematorium.A}"   
        %p
          %span='TEL. '         
          %span="#{@order.crematorium.Tel}"  
        %p
          %span='DATA: '         
          %span="#{@order.crematorium.Data}"       
    .row
      .col-12
        %p.title
          %strong='MODULO DI PRENATAZIONE PER LA CREMAZIONE'
    .row
      .col-12
        %p{style:'font-size:9pt;line-height: 9pt;'}='Come da accord telefonici si  richiede la cremazione di:'
    .row
      .col-12
        %p
          %span='NOMINATIVO DEL DEFUNTO/A: '
          %span.insert="#{@order.deceased.name}"
    .row
      .col-12
        %p
          %span='NATO/A A: '
          %span.insert="#{@order.deceased.born_place}"
          %span='IL'
          %span.insert="#{@order.deceased.birthday}"
    .row
      .col-12
        %p
          %span='RESIDENTE A: '
          %span.insert="#{@order.deceased.registered_in}"
          %span='VIA: '
          %span.insert="#{@order.deceased.registered_in_address}"
    .row
      .col-12
        %p
          %span="DECEDUTO/A IL: "
          %span.insert="#{@order.deceased.deathday}"
          %span='PRESSO: '
          %span.insert="#{@order.deceased.death_place}"
    .row
      .col-12
        %p
          ="[ _#{@order.deceased.crematorium_kind=='cadaver' ? 'X' : '_'}_ ] CADAVARE [ _#{@order.deceased.crematorium_kind=='remains' ? 'X' : '_'}_ ] RESTI INCONSUNTI [ _#{@order.deceased.crematorium_kind=='bones' ? 'X' : '_'}_ ] OSSA [ _#{@order.deceased.crematorium_kind=='fetus' ? 'X' : '_'}_ ] FETO"
    .row
      .col-12
        %p
          %span='PERVERRA` '
          %strong=' IL GIORNO '
          %strong.insert="#{@order.deceased.arrive_day}"
          %strong=' ALLE ORE '
          %strong.insert="#{@order.deceased.arrive_time}"
          %strong=' DA '
          %strong.insert="#{@order.deceased.death_place}"
    .row
      .col-12
        %strong
          ="L`urna utilizzata sarà fornita [ _#{@order.deceased.vase_issued_by=='crematorium'? 'X' : '_' } _] dal crematorio [ _#{@order.deceased.vase_issued_by=='company' ? 'X' : '_'}_ ] dall`Impresa IOF"
    .row
      .col-12
        %p='LA FATTURA EMESSA SARA` INTESTATA A:'
    .row
      .col-12
        %p
          %span='NOME E COGNOME/DITTA: '
          %span.insert="#{@order.deceased.invoice_company}"
    .row
      .col-12
        %p
          %span='RESIDENTE A/CON SEDE A: '
          %span.insert="#{@order.deceased.invoice_place}"
    .row
      .col-12
        %p
          %span='IN VIA: '
          %span.insert="#{@order.deceased.invoice_street}"
          %span{style: 'margin-left: 25pt;'}=' N: '
          %span.insert="#{@order.deceased.invoice_house}"
    .row
      .col-4
        %p
          %span='CODICE FISCALE/P.IVA '
      .col-8
        %p
          %span
            %table
              %tbody
                %tr
                  - (0...16).each do |i|
                    -if @order.splitted_fiscal_code.size > i
                      %td
                        %span.insert= @order.splitted_fiscal_code[i]
    .row
      .col-12
        %p{style: 'font-size:9pt;line-height: 9pt;text-align:center;'}='Firma dell`interstatario'
      .col-12
        %p{style:'text-align:center;'}='_______________________'
    .row
      .col-12
        %strong='PS: dopo  l`emissione della fattura l`intestatario non potra piu essere modificato'
    .row
      .col-12
        %strong='DICHIARAZIONE ELETTROSTIMOLATORI'
    .row
      .col-12
        %p{style: 'font-size:9pt;line-height: 9pt;text-align:center;'}='(da non compilare se cremazione di soli resti assei)'
    .row
      .col-12
        %p
          %span='Il sottoseritto/a'
          %span.insert="#{@order.deceased.lastname_declar} #{@order.deceased.fistname_declar}"
          %span='nato/a '
          %span.insert="#{@order.deceased.born_place_declar}"       
        %p
          %span='Il '
          %span.insert="#{@order.deceased.birthday_declar}"
          %span='residente a '
          %span.insert="#{@order.deceased.registered_in_declar}"
          %span='indirizzo '
          %span.insert="#{@order.deceased.registered_in_address_declar}"

        %p='Dichiara sotto la propria responsabilita che il defunto e privo  di stimolatore cardiaco, di qualsiasi tipologia. E` consapevole che,  in caso di dichiarazione mendace, gli saranno addebitati I damni arrecati all`impianto di cremazione provocati dall`eventuale scoppio e potra essere perseguito a termini di legge.'
    .row
      .col-6
      .col-6{style:'text-align:center;'}
        %p='Firma del dichiarante'
        %p='_______________________'
        %p
          %strong='(allegare copia documento d`identita di chi firma)'