!!!
%html
  %head
    %meta{:charset => 'utf-8' }
    =wicked_pdf_stylesheet_link_tag('documents')
    :css
      p {
        padding: 0 30pt;
      }
      body {
        font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
        font-size: 14pt;
        padding-top: 30pt;
        border: double 3pt black;
        height: 710pt;
      }
      .page-1 {
        width: 100%;
        height: 720pt;
        min-height: 720pt;
        border: double 3pt black;
        display: block;
        padding: 0;
        position: relative;
        page-break-after: always;
      }
      .top {
        padding-top: 50pt;
      }
      .top .photo {
        text-align: center;
      }
      .top .photo img {
        width: 150pt;
        height: 150pt;
        border: double 3pt black;
        padding: 1pt;
      }
      .top .title {
        margin-left: 20pt;
        position: absolute;
        right: 20pt;
        top: 80pt;
        width: 150pt;
        max-height: 150pt;
      }
      .top .title h1 {
        font-size: 12pt;
        line-height: 1.5;
        font-style: italic;
        font-weight: 100;
        padding: 0;
        margin: 0;
      }
      .content {
        position: absolute;
        margin-top: 30pt;
        height: 469pt;
      }
      .content .title {
        text-align: center;
        font-size: 14pt;
      }
      .content .name {
        text-align: center;
        font-size: 48pt;
      }
      .content .age {
        font-size: 18pt;
        text-align: center;
      }
      .content .thanks {
        font-size: 14pt;
      }
      .content .address .cemetery {
        text-transform: uppercase;
        font-size: 12pt;
      }
      .content .address .date {
        font-size: 14pt;
      }
      .picture {
        position: absolute;
        z-index: -1;
        bottom: -15pt;
        right: 2pt;
      }
      .picture img {
        max-height: 150pt;
      }
      .logo {
        bottom: -4pt;
        left: 0pt;
        position: absolute;
      }
      .logo img {
        width: 273pt;
        height: 68pt;
      }
      
  %body{:lang => 'it'}
    .page
      .top
        .photo
          =wicked_pdf_image_tag @order.deceased.photo(:medium)
        .title
          %h1="#{@order.epigraph.dedicated_to}"
      .content
        .title
          %span="Il giorno  #{@order.deceased.death_day_date}/#{@order.deceased.death_month_date}, è mancato all’affetto dei suoi cari:"
        .name
          %span="#{@order.deceased.name}"
        .age
          %span="di anni "
          %span{style: 'font-size: 28pt;'}="#{@order.deceased.age}"
        .relatives
          %p
            %span='Ne danno il triste annuncio:  '
            %i="#{@order.epigraph.relatives}"
        .funeral
          %p
            %span='Il Rito Funebre si svolgerà a:'
            %strong="#{@order.deceased.funeral_place}"
            %span=', alle ore '
            %strong="#{@order.deceased.departure_time}"
            %span=', il '
            %strong="#{@order.deceased.departure_day}"
            %span="nella #{@order.epigraph.title} а #{@order.epigraph.city_title}."
          %p           
        .requiem
          %p
            %span='La veglia di preghiera sarà celebrata '
            %strong=" #{@order.epigraph.date_vigil}."
            -#%strong=" #{@order.epigraph.date_vigil} alle ore #{@order.epigraph.time_vigil} in Chiesa Seguirà la #{@order.deceased.corpse_kind} nel cimitero di #{@order.cemetery.city}."
        .thanks
          %p
            %span='LA FAMIGLIA RINGRAZIA FIN D’ORA QUANTI PARTECIPERANNO ALLA CERIMONIA.'
        .address
          %p
            %strong.cemetery="#{@order.cemetery.name}, "           
            %strong.date="#{l(Date.today,format: "%A %e %b %Y")}"
    
        .logo
          =wicked_pdf_image_tag 'header.png'
      - if @order.epigraph.model != :empty
        .picture
          =wicked_pdf_image_tag "#{@order.epigraph.model}.png"
    

