!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    :css
      @page {
        size: A4;
        margin: 0;
      }
      body {
        font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
        font-size: 10pt;
        line-height: 1;
        padding-top: 91px;
      }
      .subtitle {
        color: red;
        text-decoration: underline;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
      }
      .col-6 {
        width: 45%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      p {
        line-height: 1em;
      }
      p span {
        vertical-align: middle;
        line-height: 1em;
      }
      .insert {
        font-size: 11pt;
        vertical-align: middle;
        text-decoration: underline;
      }
      .note {
        text-align: justify;
      }
  %body
    .row
      .col-12
        %p.subtitle ORDINE FIORI
    %br
    .row
      .col-12
        %p
          %span="NOTA IMPORTANTE: il giorno del funerale rispedire al mittente il presente fax completato degli altri ordini, tenere separati gli ordini che non riguardano la famiglia stretta e richiedere sempre un recapito telefonico."          
    .row
      .col-12
        %p
          %span= "DEFUNTO: "
          %span.insert="#{@order.deceased.name}"
    .row
      .col-12
        %p
          %span= "FUNERALE A: "
          %span.insert="#{@order.deceased.funeral_place}"
    .row
      .col-6
        %p
          %span= "IL GIORNO: "
          %span.insert="#{@order.deceased.departure_day}"
      .col-6
        %p
          %span= "ORE: "
          %span.insert="#{@order.deceased.departure_time}"
    .row
      .col-12 
        %p
          %span= "ESPOSTO ALLE CELLE DI: "
          %span.insert="#{@order.cemetery.name}"    
    .row
      .col-12 --------------------------------------------------------------------------------
    .row
      .col-12
        %p
          %span= "FIORI PRONTI PER IL GIORNO: "
          %span.insert="#{@order.deceased.flowerday}"
    .row
      .col-12
        %p
          %span= "ALLE ORE: "
          %span.insert="#{@order.deceased.flowertime}"
    .row
      .col-12 --------------------------------------------------------------------------------
    - @order.flowers.each do |f|
      .row
        .col-12
          %p
            %span= "TIPO FIORI E COMPO, €: "
            %span.insert="#{f.price}"
      .row
        .col-12
          %p
            %span= "PREZZO COMPO: "
            %span.insert="#{f.kind}"
      .row
        .col-12
          %p
            %span= "TESTO: "
            %span.insert="#{f.text}"
      .col-12 ----------------------------------------
    %br
    .row
      .col-12
        %p.note
          %span= "Note: "
          %span.insert{style: 'text-decoration: none!important;'}="#{@order.flower_note}"
    -#.row
      .col-12
        %p
          %span= "TELEFONO O ALTRI RIFERIMENTI:"        
          %span.insert="#{@order.service_note}"
