!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    :css
      @page {
        size: A4;
        margin: 0;
      }
      body {
        font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
        font-size: 8pt;
        line-height: 8pt;
        padding-top: 91px;
      }
      .subtitle {
        color: red;
        text-decoration: underline;
      }
      .title {
        color: red;        
      }
      .row {
        margin-left: auto;
        margin-right: auto;
      }
      .col-6 {
        width: 48%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-9 {
        width: 74%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-4 {
        width: 33%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-3 {
        width: 24%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .insert {
        font-size: 8pt;
        vertical-align: middle;
        text-decoration: underline;
      }
      p {
        line-height: 1em;
      }
      p span {
        vertical-align: middle;
        line-height: 1em;
      }
      .item {
        text-decoration: underline;
      }
      .note {
        text-decoration: none!important;
        text-align: justify;
      }
  %body{:lang => 'it'}
    .row
      .title
        .col-4
          %p       
            %span= "COMMISSIONE NUM.: "
            %span.insert=" #{@order.deceased.commis_num}   " 
        .col-4 
          %p             
            %span= "UFFICIO:  "
            %span.insert=" #{@order.deceased.office}    "  
        .col-4
          %p                   
            %span= "DATA:"
            %span.insert=" #{@order.crematorium.Data}   "            
    .row
      .col-12
        .subtitle
          %p DATI DEL DEFUNTO
    .row
      .col-6
        %p
          %span= "NOME DEFUNTO:"
          %span.insert=" #{@order.deceased.name} "
      .col-6
        %p
          %span= "ANNI:"
          %span.insert=" #{@order.deceased.age} "  
    .row
      .col-6
        %p
          %span= "NATO A:"
          %span.insert=" #{@order.deceased.born_place} "
      .col-6
        %p
          %span= "IL:"
          %span.insert=" #{@order.deceased.birthday} "   
    .row
      .col-6
        %p
          %span= "RESIDENTE:"
          %span.insert=" #{@order.deceased.registered_in} "
      .col-6
        %p
          %span= "VIA:"
          %span.insert=" #{@order.deceased.registered_in_address} "         
    .row
      .col-6
        %p
          %span= "CODICE FISCALE DEFUNTO: "
          %span.insert=" #{@order.document.code_fiscale}"
      .col-6
        %p
          %span= "C. IDENTITA’ N.:"
          %span.insert=" #{@order.document.document_number} "    
    .row      
      .col-6
        %p
          %span= "RILASCIATA DAL COMUNE DI:"
          %span.insert=" #{@order.document.issued_by_municipality} " 
      .col-6
        %p
          %span= "IL:"
          %span.insert=" #{@order.document.document_when_issued} "    
    .row
      .col-6
        %p
          %span= "LUOGO DECESSO:"
          %span.insert=" #{@order.deceased.death_place} "
      .col-3
        %p
          %span= "DATA DECESSO:"
          %span.insert=" #{@order.deceased.deathday} " 
      .col-3
        %p
          %span= "ORA:"
          %span.insert=" #{@order.deceased.deathtime} "                
    .row
      .col-12
        %p
          %span= "CAUSA DECESSO: "
          %span.insert="#{@order.deceased.death_case}"
    .row
      .col-12
        .subtitle
          %p DATI DEL COMMITTENTE      
    .row
      .col-6
        %p
          %span= "SIG: "
          %span.insert="#{@order.relative.name}"    
      .col-6
        %p
          %span= "Mail: "
          %span.insert="#{@order.relative.mail}" 
    .row
      .col-6
        %p
          %span= "RESIDENTE:"
          %span.insert=" #{@order.relative.resident} "
      .col-6
        %p
          %span= "VIA:"
          %span.insert=" #{@order.relative.via} " 
    .row
      .col-6
        %p
          %span= "TELEFONO: "
          %span.insert="#{@order.relative.phone}"    
      .col-6
        %p
          %span= "CODICE FISCALE: "
          %span.insert="#{@order.relative.fiscal_code}"
    .row
      .col-12
        .subtitle
          %p DATI DELLA CERIMONIA 
    .row
      .col-6
        %p
          %span= "LUOGO DEL FUNERALE:"
          %span.insert=" #{@order.deceased.funeral_place} "
      .col-3
        %p
          %span= "IL:"
          %span.insert=" #{@order.deceased.departure_day} " 
      .col-3
        %p
          %span= "ORA:"
          %span.insert=" #{@order.deceased.departure_time} "   
    .row
      .col-6
        %p
          %span= "ROSARIO:"
          %span.insert=" #{@order.deceased.rosary} "
      .col-3
        %p
          %span= "IL:"
          %span.insert=" #{@order.deceased.rosary_day} " 
      .col-3
        %p
          %span= "ORA:"
          %span.insert=" #{@order.deceased.rosary_time} "       
    .row
      .col-6
        %p
          %span= "ESPOSTO ALLE CELLE DI:"
          %span.insert=" #{@order.cemetery.name} "
      .col-3
        %p
          %span= "IL:"
          %span.insert=" #{@order.deceased.exposure_day} " 
      .col-3
        %p
          %span= "DALLE:"
          %span.insert=" #{@order.deceased.morgue_work_from} "                                                              
    .row
      .col-12
        .subtitle
          %p DATI DELLA SEPOLTURA 
    .row
      .col-12
        %p= "COFANO PREPARATO PER: [ #{(@order.deceased.corpse_kind == 'camera') ? '_X_' : '___'}] LOCULO [ #{(@order.deceased.corpse_kind == 'ground') ? '_X_' : '___'} ] TERRA [ #{(@order.deceased.corpse_kind == 'cremation') ? '_X_' : '___'} ] CREMAZIONE"    
    .row
      .col-6
        %p
          %span= "CIMITERO DI:"
          %span.insert=" #{@order.deceased.cemetery} "
      .col-6
        %p
          %span= "FORNO DI:"
          %span.insert=" #{@order.deceased.oven} "
    .row
      .col-6
        %p
          %span= "PRENOTAZIONE DEL:"
          %span.insert=" #{@order.deceased.reserv_of} "
      .col-6
        %p
          %span= "DATA TUMULAZIONE CENERI:"
          %span.insert=" #{@order.deceased.burial_date} " 
    .row                        
      .col-12
        %p.subtitle LAVORI CIMITERIALI / LOCULI / OSSARI / TARGHE RICORDO / TOMBE DI FAMIGLIA
    .row
      .col-12
        %p
          %span.insert= "#{@order.operation_3 ? '_X_' : '___'}"
          %span="Il lavoro cimiteriale, se subito confermato, può essere fatturato con l’esenzione IVA come l’intero funerale, uindi con uno sconto del 22%"
    .row
      .col-12
        %p
          %span.insert= "#{@order.operation_1 ? '_X_' : '___'}"
          %span=" PORTARE IN SEDE LA LASTRA"
    .row
      .col-12
        %p
          %span.insert= "#{@order.operation_4 ? '_X_' : '___'}"
          %span=" LAVORO DA PROGETTARE NUOVO"
    .row
      .col-12
        %p
          %span.insert= "#{@order.operation_5 ? '_X_' : '___'}"
          %span="LAVORO DA COPIARE COME CONIUGE ACCANTO"
    .row                        
      .col-12
        %p.subtitle LAVORI CIMITERIALI / LOCULI / OSSARI / TARGHE RICORDO / TOMBE DI FAMIGLIA 
    .row
      .col-3
        %p
          %span.insert= "#{@order.operation_6 ? '_X_' : '___'}"
          %span="REVERSIBILITA’"
      .col-3
        %p
          %span.insert= "#{@order.operation_7 ? '_X_' : '___'}"
          %span="RATEI TREDICESIMA" 
      .col-6
        %p
          %span= "NOTE:"
          %span.insert{style: 'text-decoration: none!important;'}=" #{@order.service_note} "       
    