!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    :css
      @page {
        size: A4;
        margin: 0;
      }
      body {
        font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
        font-size: 8pt;
        line-height: 8pt;
        padding-top: 91px;
      }
      .subtitle {
        color: red;
        text-decoration: underline;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
      }
      .col-6 {
        width: 48%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-9 {
        width: 74%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-3 {
        width: 24%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .insert {
        font-size: 8pt;
        vertical-align: middle;
        text-decoration: underline;
      }
      p {
        line-height: 1em;
      }
      p span {
        vertical-align: middle;
        line-height: 1em;
      }
      .item {
        text-decoration: underline;
      }
      .note {
        -#text-decoration: none!important;
        text-align: justify;
      }
  %body{:lang => 'it'}
    .row
      .col-12
        .subtitle
          %p SERVICE LIST: E’ UN CHECK OBBLIGATORIO A CURA DI CHI PRELEVA LA CARTELLINA “FINE SERVIZIO”

    .row
      .col-12
        %p
          %span= "NOME DEFUNTO:"
          %span.insert=" #{@order.deceased.name} "
    -#.row
      .col-12
        %p= "#{(@order.deceased.corpse_kind == 'camera') ? '[ _X_ ]' : '[ ___ ]'} LOCULO #{((@order.deceased.corpse_kind == 'ground') or (@order.deceased.corpse_kind == 'cremation')) ? '[ _X_ ]' : '[ ___ ]'} TERRA/CREMAZIONE"
    .row
      .col-6
        %p
          %span= "FUNERALE A: "
          %span.insert=" #{@order.deceased.funeral_place}"
      .col-6
        %p
          %span= "FUNERALE IL: "
          %span.insert=" #{@order.deceased.departure_day}"
    .row
      .col-12
        %p
          %span= "ALLE ORE: "
          %span.insert="#{@order.deceased.departure_time}"

    .row
      .col-12
        %p
          %span= "ESPOSTO ALLE CELLE DI: "
          %span.insert="#{@order.cemetery.name}"
    .row
      .col-12
        %p
          %span= "SEPOLTURA A: "
          %span.insert="#{@order.deceased.cemetery}"

    .row
      .col-12
        %p= "COFANO PREPARATO PER: [ #{(@order.deceased.corpse_kind == 'camera') ? '_X_' : '___'}] LOCULO [ #{(@order.deceased.corpse_kind == 'ground') ? '_X_' : '___'} ] TERRA [ #{(@order.deceased.corpse_kind == 'cremation') ? '_X_' : '___'} ] CREMAZIONE"
    .row
      .col-12
        %p
          %span= "TELEFONO DEL FAMILIARE: "
          %span.insert="#{@order.relative.phone}"

    .row
      .col-12
        %p.subtitle DATI DA COMPILARSI DALL’OPERATORE
    .row
      .col-3
        %p
          %span= 'SQUADRA '
      .col-9
        - @order.assistants.each do |a|
          .col-6
            %p
              %span.insert.item= " #{a.name} "
    .row
      .col-3
        %p
          %span= 'MEZZI '
      .col-9
        - @order.cars.each do |c|
          .col-6
            %p
              %span.insert.item= " #{c.model} "
    .row
      .col-12
        -#%p= "CUSCINO [ #{@order.deceased.pillow_take ? '___' : '_X_' } ] DA RITIRARE [ #{@order.deceased.pillow_take ? '_X_' : '___' } ] GIA' IN CELLA"
        %p= "CUSCINO [ #{@order.deceased.pillow_take ? '___' : '___' } ] DA RITIRARE [ #{@order.deceased.pillow_take ? '___' : '___' } ] GIA' IN CELLA"
    .row
      .col-12
        %p.subtitle STRUMENTAZIONE E DOCUMENTI DA CARICARE NEI MEZZI
    .row
      .col-12
        %p
          %span.insert= "#{@order.deceased.instruments_1 ? '__X__' : '_____'}"
          %span=" CARRELLO E DRAPPO (SU NUOVE CHIESE CHIEDERE SEMPRE AL PRETE)"
        %p
          %span.insert= "#{@order.deceased.instruments_2 ? '__X__' : '_____'}"
          %span=" TAVOLINO E CASSETTA OFFERTE DOVE RICHIESTO"
        %p
          %span.insert= "#{@order.deceased.instruments_3 ? '__X__' : '_____'}"
          %span=" FERRI PER CHIUSURA (CONTROLLA DUE VOLTE)"
        %p
          %span.insert= "#{@order.deceased.instruments_4 ? '__X__' : '_____'}"
          %span=" PERMESSO DI SEPPELLIMENTO PER IL PRETE IN COPIA E ALTRI DOC"
    .row
      .col-12
        %p.subtitle INFORMAZIONI DA CHIEDERE ALLA FAMIGLIA
    .row
      .col-12
        %p
          %span.insert="__#{@order.deceased.information_1 ? 'X' : '_'}__"
          %span= 'TRAGITTO DA PERCORRERE (DESCRIVI'
          %span.item='__________________________________________________)'
        %p
          %span.insert="__#{@order.deceased.information_2 ? 'X' : '_'}__"
          %span= 'DESTINAZIONE DEI FIORI (DESCRIVI'
          
          %span.item='__________________________________________________)'
    .row
      .col-12
        %p.subtitle OPERAZIONI CIMITERIALI
    .row
      .col-12
        %p
          %span.insert="__#{@order.operation_1 ? 'X' : '_'}__"
          %span=' RITIRO LASTRA MARMO'
          %span.insert{ style: 'margin-left: 25pt;' }="__#{@order.operation_2 ? 'X' : '_'}__"
          %span= 'FARE FOTO LASTRA ESISTENTE'
    .row
      .col-12
        %p
          %span
            = 'NOTE, IMPRESSIONI E PUNTI DI CRITICITA’, PARTICOLARI DA RICORDARSI: '
        %p.note
          %span{style: 'line-height: 14pt;'}="#{@order.service_note}"
    .row
      .col-12
        %p
          %span= 'FIRMA DELL`OPERATORE'
          %span.item='____________________________'
          %span= 'DATA'
          %span.item='_____________________'

       

