/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
@import "materialize";

$sidebar-width: 250px;

#sidenav {
  width: $sidebar-width;

  .userView {

    a {
      padding: 0;
      margin: 0;
    }

    img.logo {
      width: 230px;
      max-width: 230px;
      height: auto;
      margin: 10px;
      display: block;
    }

  }
}

main {
  margin-left: $sidebar-width;
  padding-left: 10px;

  form {
    .tabs {
    .tab {
      a {
        color: #607d8b !important;
	padding: 0 10px;
      }
      }
    }
  }
}

#topbar {
  margin-left: $sidebar-width;
  nav {
    padding-right: $sidebar-width;
  }
}

.documents.pinned {
  //margin-top: 58px;
  right: 20px!important;
  width: 33.5%!important;
  //margin-bottom: 60px;
}

.info.popout.collapsible {
  margin-right: -3.5%;
  margin-left: -3.5%;
  width: 107%;
  li {
    margin: 0 0;
  }
}

footer.page-footer {
  margin-left: $sidebar-width;
}

.pagination a li {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  &.active {
    color: #fff;
    background-color: #455A64;
  }
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right:7%;

  .success {
    background: #26a69a;
  }

  .warn {
    background: #cddc39;
  }

  .error {
    background: #F44336;
  }

}

blockquote {
  border-left: 5px solid #90a4ae;
}

input#search {
  background-color: #fff;
  border: 0;
  box-shadow: none;
  color: #444;
}
label[for=search] {
  i.material-icons{
    color: #26a69a;
  }
}

i.timepicker {

  &:before {
    content: 'alarm_add';
  }

  &.picker-active {
    &:before {
      color: teal;
      content: 'alarm_on';
    }
  }

}

.dtp-content {
  .dtp-header {
    background: #1f897f!important;
  }
  .dtp-time {
    background: #26a69a!important;
  }
  .dtp-picker {
    //background: #b2dfdb!important;

  }
  .dtp-buttons {
    //background: #009688!important;
    text-align: center;
    button {
      margin-top: 15px;
      color: #26a69a;
    }
  }
}
.hour-hand {
  stroke: #009688!important;
}

#note {
  .note-lock {
    i.lock:before {
      content: 'lock';
    }
    i:before {
      content: 'lock_open';
    }
  }
  .note-lock:hover {
    i.lock:before {
      content: 'lock_open';
    }
    i:before {
      content: 'lock';
    }
  }

  textarea.materialize-textarea {
    margin-bottom: 0;
    &[readonly="readonly"] {
      color: black;
    }
  }

}

#orders_sort {

  margin-top: 15px;

  display: inline-block;

  .view.select-wrapper {
    display: inline-block;
    margin-right: 2em;
  }

  span {
    padding-right: 1.6em;
  }

  .order.select-wrapper {
    display: inline-block;
    margin-right: 2em;
  }

  #order_direction {
    display: inline-block;
    i:before {
      content: 'arrow_drop_up';
    }
    i.reverse:before {
      content: 'arrow_drop_down';
    }
  }

}

#order {
  img.photo {
    border: double 3px black;
    padding: 1px;
  }
}

#contacts {
  .card {
    table {
      margin-top: 20px;
      td {
        padding: 0 10px;
      }
      td:first-child {
        &:after {
          content: ':';
        }
        text-align: right;
      }
      td:first-child + td {
        font-weight: bold;
      }
    }
  }
}