// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@page {
  size: A4;
  margin: 0;
}
@font-face {
  font-family: "Edwardian Script";
  src: asset-url('EdwardianScriptITC.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: asset-url('MyriadProRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

