%footer.page-footer.grey.darken-2
  .container
    .row
      .col.l6.s12
        %h5.white-text 
        %p.grey-text.text-lighten-4
      .col.l4.offset-l2.s12
        %h5.white-text
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => '#!'} 
          %li
            %a.grey-text.text-lighten-3{:href => '#!'} 
  .footer-copyright
    .container
      All rights reserved. Powered by redroids © 2016 Copyright Text
