%ul#sidenav.side-nav.fixed
  %li.no-padding
    .userView.blue-grey.no-padding
      =link_to '' do
        -#=image_tag 'logo-fre.png', class: 'logo'
  %li.no-padding
    %ul.collapsible.collapsible-accordion{ :data => { :collapsible => 'accordion' } }
      %li.bold
        %a{ class: "collapsible-header waves-effect waves-teal active" }
          %i.material-icons.left list
          = 'Anagrafiche'
        .collapsible-body
          %ul
            %li
              = link_to new_order_path, class: 'waves-effect waves-teal' do
                = 'Nuovo'
                %i.material-icons.right.cyan-text create
            %li.divider
            %li
              = link_to orders_path, class: 'waves-effect waves-teal' do
                = 'Attivi'
                %span.badge
                  = Order.active.size
                %i.material-icons.right.teal-text.text-accent-4 inbox
            %li
              = link_to orders_path(archived: true), class: 'waves-effect waves-teal' do
                ='Archiviati'
                %span.badge
                  = Order.archived.size
                %i.material-icons.right.blue-grey-text archive
    /   %li.bold
    /    %a{ class: "collapsible-header waves-effect waves-teal" }
    /      %i.material-icons contacts
    /      = 'Contatti'
    /    .collapsible-body
    /      %ul
    /        %li
    /          =link_to contacts_path(ricent: true), class: 'waves-effect waves-teal' do
    /            ='Recente'
    /            %span.badge
    /              = Relative.all.size
    /            %i.material-icons.right hourglass_empty
    /        %li
    /          =link_to contacts_path(marked: true), class: 'waves-effect waves-teal' do
    /            ='Segnati'
    /            %span.badge
    /              = Relative.all.marked.size
    /            %i.material-icons.right bookmark  