#topbar.navbar-fixed
  %nav
    .nav-wrapper.grey.darken-2
      %ul
        -#-if params[:action] == 'show'
        -#  %li
        -#    =link_to , class: 'tooltipped', data: {tooltip: 'Go back'} do
        -#      %i.material-icons.teal-text backspace
        -if ['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
          %li
            =link_to :back, class: 'tooltipped', data: { tooltip: 'Go back' } do
              %i.material-icons.teal-text.text-accent-1 chevron_left
        -if !['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
          %li
            =link_to new_order_path, class: 'tooltipped', data: { tooltip: 'Nuovo inserimento' } do
              %i.material-icons.cyan-text.text-accent-1 add_circle
        - if params[:id] and !['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
          %li
            = link_to edit_order_path(@order), class: 'tooltipped', data: { tooltip: 'Edit this order' } do
              %i.material-icons.teal-text.text-accent-2 mode_edit
          %li
            =link_to order_path(@order), method: :delete, class: 'tooltipped', data: { tooltip: 'Delete this order', confirm: 'Are you sure?' } do
              %i.material-icons.teal-text.text-accent-4 delete
      %ul.right.hide-on-med-and-down
        %li
          = link_to nil, class: 'tooltipped', data: { tooltip: 'Profile settings.' } do
            %i.material-icons account_circle
        %li
          = link_to nil, class: 'tooltipped', data: { tooltip: 'Log out from the app.' } do
            %i.material-icons power_settings_new
      -if !['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
        =form_tag orders_path(params), method: :get, :id => 'orders_search', class: 'col m4 right', remote: true do
          .input-field
            =text_field_tag :query, params[:query], id: 'search', :required => '', :type => 'search'
            %label{:for => 'search'}
              %i.material-icons search
            %i.material-icons close
      = link_to 'Phoenix', nil, class: 'brand-logo center'